<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Maps</h1>
        <p class="lead text-muted"></p>
        <p>
            <button type="button" data-url="<%= new_location_path %>" id="shareLocation" class="btn btn-info btn-lg">Share Location</button>
        </p>
    </div>
</section>

<div class="album text-muted">
    <div class="container">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#shared_by_me" role="tab" aria-controls="shared_by_me">Shared by me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#shared_with_me" role="tab" aria-controls="shared_with_me">Shared with me</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="shared_by_me" role="tabpanel">

                <%= render partial: "shared_by_me" %>

            </div>
            <div class="tab-pane" id="shared_with_me" role="tabpanel">

                <%= render partial: "shared_with_me" %>

            </div>

        </div>

    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <div class="modal-content"></div>

    </div>
</div>


<% content_for :js do %>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  
  <%= javascript_include_tag 'share', 'holder.min' %>
  
  <script>
    $(function () {
        Holder.addTheme("thumb", {background: "#55595c", foreground: "#eceeef", text: "Thumbnail"});
    });
  </script>
  
<%end%>


